$(function() {
  $('body').prepend('<div id="fb-root"></div>');
  
  $.ajax({
    url: "//connect.facebook.net/en_US/all.js",
    dataType: 'script',
    cache: true
  });
  
  window.fbAsyncInit = function() {  
    FB.init({
      appId: "<%= APP_CONFIG['fb_app_id'] %>",
      cookie: true
    });
    
    function facebook_login() {
      FB.login(function(response) {
        // redirect
        if (response.authResponse) {
          window.location = '/auth/facebook/callback';
        }
      }, { scope: 'email' });
    }
    
    $('#sign_in').click(function(e) {
      e.preventDefault();
      facebook_login();
    });
    
    $('#sign_out').click(function(e) {
      FB.getLoginStatus(function(response) {
        if (response.authResponse) {
          FB.logout();
        }
        
        return true;
      });
    });
    
    $('#enter_contest').click(function(e) {
      FB.getLoginStatus(function(response) {
        // if we are not logged in
        if (!response.authResponse) {
          facebook_login(); // login
        } else { // they have already logged in          
          // make ajax to the server to enter the user in the giveaway
          FB.api('/me', function(response) {
            $.ajax({
              url: ,//TODO,
              type: 'POST',
              data: response.id,
              
            });
          });
        }
      });
    });
  };
  
});